<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<included>

    <include resource="ccd/config/built-in/logback/default/logback-base.xml" />

    <logger name="com.ccd.boot.twse" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="FILE-ROLL" />
    </root>

</included>
